body {
	margin: 0;
}

.page-container { /*  */
	display: inline-block;
	margin: auto;
	background: white;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-width: 1000px;
}

.page-wrapper {
	text-align: center;
	background: #F6F6F6;
}

.ui-widget,.ui-widget .ui-widget,table tr {
	font-size: 12px !important;
	font-family: tahoma, sans-serif;
}

.ui-panel-content {
	padding: 0.2em 0.2em !important;
}

.main-menu {
	/* width: 530px; */
	margin: 0 3px;
	overflow: hidden;
}

table td {
	vertical-align: top;
}

.middle-table { 
	width : 100%;
}

.left-col ul {
	border: 0;
	margin: 0;
	padding: 0;
}

.left-col ul li {
	padding: 0 0 2px 0;
}

.main-col { /*  */
	
}

.main-menu-left {
	float: left;
}

.main-menu-right {
	float: right;
}

.main-menu-left, .main-menu-right {
	border: 0
}

.def-pad-mar {
	margin: 0;
    padding: 0 0 2px;
}

.customs-color {
	background: red;
}

.uncustoms-color {
	background: green;
}

.checked-color {
	background: gray;
}

.processed-color {
	background: yellow;
}