body {
	margin: 0;
	background: #F4F7E6;
}

.page-wrapper {
	text-align: center;
}

.page-container,
.mainBackground {
	background: url("#{resource['images/page-bg.png']}") white;
}

.page-container {
	display: inline-block;
	margin: auto;
	padding: 5px;
	border-left: 1px solid #B1A635;
	border-right: 1px solid #B1A635;
	border-bottom: 1px solid #B1A635;
	min-width: 1000px;
}

.ui-widget,.ui-widget .ui-widget,table tr {
	font-size: 12px !important;
	font-family: tahoma, sans-serif;
}

.ui-panel-content {
	padding: 0.2em 0.2em !important;
}

.main-menu {
	margin: 0 3px;
	background: #F5FCD9;
}

.main-menu .ui-widget-content,.main-menu .ui-state-active {
	background: #F5FCD9;
}

.wijmo-wijmenu-child {
	-moz-box-shadow: 2px 3px 5px #B1A635;
	-webkit-box-shadow: 2px 3px 5px #B1A635;
	box-shadow: 2px 3px 5px #B1A635;
}

.main-menu .ui-state-hover {
	border: 1px solid #B1A635 !important;
}

.cleaner {
	clear: both;
	line-height: 0;
	height: 0;
}

table td {
	vertical-align: top;
}

.middle-table {
	width: 100%;
}

.left-col ul {
	border: 0;
	margin: 0;
	padding: 0;
}

.left-col ul li {
	padding: 0 0 2px 0;
}

.main-col { /*  */
	
}

.main-menu-left {
	float: left;
}

.main-menu-right {
	float: right;
}

.main-menu-left,.main-menu-right,.crud-menu {
	border: 0
}

.def-pad-mar {
	margin: 0;
	padding: 0 0 2px;
}

/**/
.before-customs-color td:nth-child(1) {
	background: #FFE3E3;
}

.after-customs-color td:nth-child(1) {
	background: #FFFFE3;
}

.handled-color td:nth-child(1) {
	background: #E3FFE3;
}

.reported-color td:nth-child(1) {
	background: #E3E3E3;
}

.abandoned-color td:nth-child(1) {
	background: #E3E3E3;
}

/*  */
.crud-menu .wijmo-wijmenu-text,.crud-menu .ui-button {
	font-size: 11px !important;
}

.crud-menu div {
	padding: 2px;
	margin: 0;
	background: none;
}

.ui-dialog tfoot button {
	margin: 2px;
}

.ui-dialog-content td {
	vertical-align: middle;
	text-align: left;
}

.ui-dialog-buttonpane,.ui-dialog-content tfoot td {
	text-align: right !important;
	border: 0 !important;
}

select {
	padding: 3px !important;
}

.ui-dialog .ui-inputfield {
	min-width: 200px;
	width: 96%;
	box-sizing: content-box;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.ui-datatable input[type="checkbox"] {
	margin: 0 !important;
}

.ui-selected {
	background: #ebfb83
		url("#{resource['primefaces-olive:images/ui-bg_glass_75_ebfb83_1x400.png']}")
		50% 50% repeat-x !important;
}

.voyagesLayoutTable,.infoLayoutTable,.invoicesLayoutTable {
	width: 100%;
}

#voyagesPanel .crud-menu div,#containersPanel .crud-menu div {
	padding: 0 0 1px;
}

.infoLayoutTable table {
	margin-bottom: 2px;
}

#infoPanel ul {
	margin: 5px;
	padding-left: 15px;
	line-height: 14px;
}

.infoLayoutTable,#infoPanel {
	min-width: 320px;
}

.cellSmallText td {
	font-size: 11px;
}

#containersPanel .ui-column-filter {
	width: 60px !important;
}

#containersPanel {
	min-width: 656px;
}

#VoyageSearchBoxId input {
	font-size: 11px !important;
	float: right;
	width: 250px !important;
	margin-top: 1px;
	box-shadow: 0 0 0 0;
	border-radius: 3px 3px 3px 3px;
}

.container-cargo-panel,
.documentPartialDetailPanel {
	margin-bottom: 2px;
}

.documentPartialDetailPanel {
	overflow: auto;
	text-align: left;
	max-height: 150px;
}

.container-cargo-panel div {
	font-size: 11px !important;
}

.container-cargo-panel .ui-panel-content {
	text-align: left;
}

#lazyContainerInfo {
	text-align: left;
	margin: 4px 0 7px 4px;
	line-height: 16px;
}

.olive-color {
	color: olive;
}

.small-panel {
	display: inline-block;
	float: left;
	margin-left: 4px;	
}

.small-panel table {
	width: auto !important;
	min-width: 317px;
}

.small-panel tbody td {
	text-align: left;
}

.centered-col {
	float: right;
	left: -50%;
	position: relative;
}

.docInfoPanel,
.articleInfoPanel {
	min-width: 683px;
}