body {
	margin: 0;
	background: #F4F7E6;
}

.page-wrapper {
	text-align: center;
}

.page-container {
	display: inline-block;
	margin: auto;
	background: white;
	padding: 5px;
	border-left: 1px solid #B1A635;
	border-right: 1px solid #B1A635;
	border-bottom: 1px solid #B1A635;
	min-width: 1000px;
}

.ui-widget,.ui-widget .ui-widget,table tr {
	font-size: 12px !important;
	font-family: tahoma, sans-serif;
}

.ui-panel-content {
	padding: 0.2em 0.2em !important;
}

.main-menu {
	margin: 0 3px;
	background: #F5FCD9;
}

.main-menu .ui-widget-content,.main-menu .ui-state-active {
	background: #F5FCD9;
}

.wijmo-wijmenu-child {
	-moz-box-shadow: 2px 3px 5px #B1A635;
	-webkit-box-shadow: 2px 3px 5px #B1A635;
	box-shadow: 2px 3px 5px #B1A635;
}

.main-menu .ui-state-hover {
	border: 1px solid #B1A635 !important;
}

.cleaner { /* Р�СЃРїРѕР»СЊР·СѓРµС‚СЃСЏ РґР»СЏ СЂР°СЃС‚СЏРіРёРІР°РЅРёСЏ РґРёРІ-РєРѕРЅС‚РµР№РЅРµСЂР° РїСЂРё float */
	clear: both;
	line-height: 0;
	height: 0;
	s
}

table td {
	vertical-align: top;
}

.middle-table {
	width: 100%;
}

.left-col ul {
	border: 0;
	margin: 0;
	padding: 0;
}

.left-col ul li {
	padding: 0 0 2px 0;
}

.main-col { /*  */
	
}

.main-menu-left {
	float: left;
}

.main-menu-right {
	float: right;
}

.main-menu-left,.main-menu-right,.crud-menu {
	border: 0
}

.def-pad-mar {
	margin: 0;
	padding: 0 0 2px;
}

/* Р Р°СЃРєСЂР°СЃРєР° РєРѕРЅС‚РµР№РЅРµСЂРѕРІ */
.before-customs-color {
	background: #FFE3E3;
}

.after-customs-color {
	background: #FFFFE3;
}

.handled-color {
	background: #E3FFE3;
}

.reported-color {
	background: #E3E3E3;
}

.abandoned-color {
	background: #E3E3E3;
}

/*  */
.crud-menu .wijmo-wijmenu-text,.crud-menu .ui-button {
	font-size: 11px !important;
}

.crud-menu div {
	padding: 2px;
	margin: 0;
	background: none;
}

.ui-dialog tfoot button {
	margin: 2px;
}

.ui-dialog-content td {
	vertical-align: middle;
	text-align: left;
}

.ui-dialog-buttonpane,.ui-dialog-content tfoot td {
	text-align: right !important;
	border: 0 !important;
}

select {
	padding: 3px !important;
}

.ui-dialog .ui-inputfield {
	min-width: 200px;
	width: 96%;
	box-sizing: content-box;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.ui-datatable input[type="checkbox"] {
	margin: 0 !important;
}

.ui-selected {	
	background: #ebfb83
		url("#{resource['primefaces-olive:images/ui-bg_glass_75_ebfb83_1x400.png']}")
		50% 50% repeat-x !important;	
}


.voyagesLayoutTable, .infoLayoutTable, .invoicesLayoutTable {
	width : 100%;
}


#voyagesPanel .crud-menu div, #containersPanel .crud-menu div{
	padding: 0 0 1px;
}

.infoLayoutTable table {
	margin-bottom: 2px;
}

.infoLayoutTable, #infoPanel{
	min-width: 320px;
}

.cellSmallText td{
	font-size: 11px;
}

#containersPanel .ui-column-filter {
	width: 60px !important;
}