body {
	margin: 0;
}

.page-wrapper {
	text-align: center;
	background: #F6F6F6;
}

.page-container {
	display: inline-block;
	margin: auto;
	background: white;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-width: 1000px;
}

.ui-widget,.ui-widget .ui-widget,table tr {
	font-size: 12px !important;
	font-family: tahoma, sans-serif;
}

.ui-panel-content {
	padding: 0.2em 0.2em !important;
}

.main-menu {	
	margin: 0 3px;	
}

.cleaner { /* Используется для растягивания див-контейнера при float */
	clear: both;
	line-height: 0; 
	height: 0;s
}

table td {
	vertical-align: top;
}

.middle-table { 
	width : 100%;
}

.left-col ul {
	border: 0;
	margin: 0;
	padding: 0;
}

.left-col ul li {
	padding: 0 0 2px 0;
}

.main-col { /*  */
	
}

.main-menu-left {
	float: left;
}

.main-menu-right {
	float: right;
}

.main-menu-left, .main-menu-right {
	border: 0
}

.def-pad-mar {
	margin: 0;
    padding: 0 0 2px;
}

/* Раскраска контейнеров */

.customs-color {
	background: #FFE3E3;
}

.uncustoms-color {
	background: #FFFFE3;
}

.checked-color {
	background: #E3FFE3;
}

.processed-color {
	background: #E3E3E3;
}

/*  */