body {
	margin: 0;
	background: #F4F7E6;
}

.page-wrapper {
	text-align: center;
}

.page-container,.mainBackground,.loginPanel {
	background: url("#{resource['images/page-bg.png']}") white;
}

.loginPanel {
	background: red;
	display: inline-block;
	border-left: 1px solid #B1A635;
	border-right: 1px solid #B1A635;
	border-top: 1px solid #B1A635;
	border-bottom: 1px solid #B1A635;
	min-width: 400px;
	width: 640px;
	height: 480px;
}

.page-container {
	display: inline-block;
	margin: auto;
	padding: 5px;
	border-left: 1px solid #B1A635;
	border-right: 1px solid #B1A635;
	border-bottom: 1px solid #B1A635;
	min-width: 1000px;
}

.ui-widget,.ui-widget .ui-widget,table tr {
	font-size: 12px;
	font-family: tahoma, sans-serif;
}

.ui-panel-content {
	padding: 0.2em 0.2em !important;
}

.main-menu {
	margin: 0 3px;
	background: #F5FCD9;
}

.main-menu .ui-widget-content,.main-menu .ui-state-active {
	background: #F5FCD9;
}

.wijmo-wijmenu-child {
	-moz-box-shadow: 2px 3px 5px #B1A635;
	-webkit-box-shadow: 2px 3px 5px #B1A635;
	box-shadow: 2px 3px 5px #B1A635;
}

.main-menu .ui-state-hover {
	border: 1px solid #B1A635 !important;
}

.cleaner {
	clear: both;
	line-height: 0;
	height: 0;
}

table td {
	vertical-align: top;
}

.middle-table {
	width: 100%;
}

.left-col ul {
	border: 0;
	margin: 0;
	padding: 0;
}

.left-col ul li {
	padding: 0 0 2px 0;
}

.main-col { /*  */
	
}

.main-menu-left{
	float: left;
}

.main-menu-right {
	float: right;
}

.main-menu-left,.main-menu-right,.crud-menu {
	border: 0
}

.def-pad-mar {
	margin: 0;
	padding: 0 0 2px;
}

/**/
.container-not-handled-color td:nth-child(1) {
	background: #FFE3E3;
}

.container-handled-color td:nth-child(1) {
	background: #FFE3FF;
}

.container-ready-color td:nth-child(1) {
	background: #FFFFE3;
}

.container-report-ready-color td:nth-child(1) {
	background: #E3FFFF;
}

.container-finished-color td:nth-child(1) {
	background: #E3FFE3;
}

.container-abandoned-color td:nth-child(1) {
	background: #E3E3E3;
}

/*  */

.toolbar {	
	margin : -3px 0 -6px 0;
}

.custom-panel {
	margin : 4px 0 0 -8px;
}	

.base-crud {
/*	width : 400px;*/
}

.crud-menu .wijmo-wijmenu-text,.crud-menu .ui-button {
	font-size: 11px !important;
}

.crud-menu div {
	padding: 2px;
	margin: 0;
	background: none;
}

.ui-dialog tfoot button {
	margin: 2px;
}

.ui-dialog-content td {
	vertical-align: top;
	text-align: left;
}

.ui-dialog-buttonpane,.ui-dialog-content tfoot td {
	text-align: right !important;
	border: 0 !important;
}

select {
	padding: 3px !important;
}

.ui-dialog .ui-inputfield {
	min-width: 170px;
	width: 96%;
	box-sizing: content-box;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.ui-datatable input[type="checkbox"] {
	margin: 0 !important;
}

.ui-selected {
	background: #ebfb83
		url("#{resource['primefaces-olive:images/ui-bg_glass_75_ebfb83_1x400.png']}")
		50% 50% repeat-x !important;
}

.voyagesLayoutTable,.infoLayoutTable,.invoicesLayoutTable {
	width: 100%;
}

#voyagesPanel .crud-menu div,#containersPanel .crud-menu div {
	padding: 0 0 1px;
}

.infoLayoutTable table {
	margin-bottom: 2px;
}

#infoPanel ul {
	margin: 5px;
	padding-left: 15px;
	line-height: 14px;
}

.infoLayoutTable,#infoPanel {
	/*min-width: 600px;*/
}

.cellSmallText td {
	font-size: 11px;
}

#containersPanel .ui-column-filter {
	width: 60px !important;
}

#containersPanel {	
	font-size: 11px !important;
}

#containersPanel_header {
	overflow: hidden;
	padding: 6px 5px 1px 4px;	
}

#VoyageSearchBoxId input,#DocumentsVoyageSearchBoxInId input {
	font-size: 11px !important;	
	width: 300px !important;
	margin: 0 0 2px 0;
	box-shadow: 0 0 0 0;
	border-radius: 3px 3px 3px 3px;
}

#DocumentsVoyageSearchBoxInId input {
	float: left;
}

.container-cargo-panel,.documentPartialDetailPanel {
	margin-bottom: 2px;
}

.documentPartialDetailPanel {
	overflow: auto;
	text-align: left;
	max-height: 150px;
	width: 220px;
}

.container-cargo-panel div{
	font-size: 11px !important;
	text-align: left;	
}

.container-cargo-panel .ui-panel-titlebar{
	overflow: hidden;
}

.container-cargo-panel .ui-panel-content {
	text-align: left;
}


#lazyContainerInfo, #inspectionInfo {
	text-align: left;
	margin: 2px 0 2px 4px;
	line-height: 16px;
}

.olive-color {
	color: olive !important;
	text-decoration: none !important;	
}

a.olive-color {	
	border-bottom: 1px dotted olive;	
}

a.olive-color:hover {	
	color : olive !important;	
	background: #FAFFE8;
	border-bottom: 1px solid olive;	
}

.small-panel {
	display: inline-block;
	float: left;
	margin-left: 4px;
}

.small-panel table {
	width: auto !important;
	min-width: 317px;
}

.small-panel tbody td {
	text-align: left;
}

.centered-col {
	float: right;
	left: -50%;
	position: relative;
}

.docInfoPanel,.articleInfoPanel {
	min-width: 683px;
}

.borderless {
	border: none;
}

.documentContainersSummary {
	text-align: left;
	margin-left: 4px;
}

.bind-unbind button { /*
	width : 24px;
	height: 22px;
	*/
	
}

.container-docum td {
	vertical-align: top;
}

.select-table-div {
	width: 100px;
}

.container-docum .ui-panel {
	background: url("#{resource['images/page-bg.png']}") white;
	font-size: 11px !important;
}

.container-cargo .ui-panel td{
	font-size: 11px !important;
}

.container-cargo td {
	vertical-align : top;
}

.strong-div {
	border: 5px solid #E8EDCE;
}

.shift-div {
	margin-top: 5px;
}

.left-space {
	padding-left: 15px;
}

.container-tab .ui-tabs-panel {
	padding: 0px !important;
	background: #ecf3ce !important;
	border: 1px solid #a6b135 !important;
	margin-left: 2px;
}

.container-tab .ui-tabs-nav {
	background: white !important;
}

.container-tab em {
	font-style: normal !important;
	font-family: sans-serif;
}

.container-tab {
	border: 0 !important;
}

.container-top-info table{
	border-bottom: 1px dotted #a6b135 !important;
}

.listContainersInDoc {
	margin-top:2px;
	font-size:11px;
}

#cargo-list {
	min-width: 150px;
}

#cargo-info div{
    border-radius: 0 !important;	
}

#cargo-info input, #cargo-info select{
	width: auto;
}

.table-title {
	font-size: 11px;
	float: left;
	margin-top: 1px;
	font-weight: bold;
}

.table-btns {
	float: right;
	margin-top: -3px;
}

.table-btns button {
	width: 22px !important;
	height: 22px !important;
}

.table-header {
	font-family: monospace;
	font-size: 16px;	
}

.feature-title {
	margin: 7px 0 0 0;
}

.inline-btn {	
	width: 20px !important;
	height: 16px !important;
	border: 0 !important;
	background: white !important;
	vertical-align: text-bottom;
}
.calibre {
	display: block;
	margin: 3px 0 -7px 0;	
}

.container-btns {
	margin-top: -3px;
}

#footer{
	text-align: left;
	font-family: verdana, tahoma, sans-serif;
	font-size : 10px;
	padding : 10px 0 0 3px;
	clear: both;
	color : olive;	
}

#containerTitle {
	margin: 5px 0 0 4px !important;
} 

.add-cargo-title {
	font-weight: bold !important;	
}

#inspection-splitter  td:nth-child(odd) {
	border: 1px dotted #E4F0B6;
	background: #FCFFF0;		
}	

       
#inspection-splitter td {
	padding : 2px 4px 4px 3px;
}

.cargo-header {
	padding : 3px 0 3px 3px;
	display: block;		
	border-top: 1px solid #E4F0B6;
	border-bottom: 1px dotted #D0D9A3;
	background: #FAFFE8;
	margin: 2px 0 4px 0;
}

.border-btn {
	border : 1px solid #D4DEAB !important;
}

.cargo-btn-panel {
	margin: 0 0 0 5px;
}

.declared, .inspection {
	min-width: 320px !important;*/
	overflow: hidden;	
}

#inspectionPanel {
	max-width : 450px;
}

.cargo-package {
	margin : -3px 0 -5px 0;	
}
.container-cargo-panel {
	display: block;	
	padding-bottom: 2px !important;
}

.cargo-title {
	display: inline;
}

.innerGrid {
	max-width: 300px;
	text-align: left;
}

.inpection-input-table {
	width: 98%;
	border-collapse:collapse;
}
.inpection-input-table td {
	padding: 0 3px 0 0 !important;
	vertical-align: top !important;
}

#infoPanelForm {
	display: inline;
}

.customPanelButton {
	font-size: 11px !important;
}